html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}
.hide{
    display: none;
    height: 100%;
}
#loader{
    height: 50px;
    width: 85px;
}
